.products {
  justify-content: center;
}
.product {
  width: 50%;
  border: 1px #404040 solid;
  margin: 1rem;
  display: flex;
}
.product img {
  width: 50%;
  max-width: 60%;
  display: inline;
}

.product p button {
  display: inline;
}
